[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

innodb_buffer_pool_size = 1G # もっとふやしてもいいけど
innodb_flush_log_at_trx_commit = 0
innodb_flush_method=O_DIRECT
max_allowed_packet=300M
skip_innodb_doublewrite
skip_name_resolve
# innodb_flush_log_at_timeout = 5
innodb_log_file_size = 96M
innodb_log_buffer_size = 64M
innodb_additional_mem_pool_size = 16M
innodb_thread_concurrency = 16
thread_cache_size = 128

#### DEBUG
slow_query_log=1
slow_query_log_file=/tmp/slow.log
log_queries_not_using_indexes=1
long_query_time=0.01
####

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
