<h2>あしあとリスト</h2>
<div class="row panel panel-primary" id="footprints">
  <ul class="list-group">
    <% footprints.each do |fp| %>
    <li class="list-group-item footprints-footprint"><%= fp[:updated] %>: <a href="/profile/<%= fp[:account_name] %>"><%= fp[:nick_name] %>さん</a>
    <% end %>
  </ul>
</div>
